@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <h1 style="font-family: Modeka;"><u>Team Viator</u></h1>
        <p>Fuad Ragib</p>
        <p>Alamin Miah</p>
        <p>Roman</p>
        <p>SA Samad</p>
    </div>
    
</div>

